.contenedor{
    background-color: grey;
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px; 
    width: 50%;
    position: relative; 
    left: 25%
}

input[type="text"],
input[type="email"],
select,
textarea{
    width: 100%;
    padding:10px;
    margin: 8px 0;
    border: 1px solid black; 
    border-radius: 10px; 
    box-sizing: border-box;
}

input[type="submit"]{
    
    width: 100%;
    background-color: #334d5c; 
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}

input[type="submit"]:hover{
    background-color: #61b886;
}

textarea:focus,input:focus{
background-color: #8beab3;
}

label{
    color: white
}